/* client/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #131324; /* Màu nền tối chủ đạo */
  color: white;
  overflow: hidden;
}

/* Container bao quanh toàn màn hình */
.form-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
}

/* Cái hộp form đăng ký */
.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.brand h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #00000076; /* Nền đen mờ */
  border-radius: 2rem;
  padding: 3rem 5rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

input {
  background-color: transparent;
  padding: 1rem;
  border: 0.1rem solid #4e0eff; /* Viền tím */
  border-radius: 0.4rem;
  color: white;
  width: 100%;
  font-size: 1rem;
}

input:focus {
  border: 0.1rem solid #997af0;
  outline: none;
}

/* Nút bấm */
button {
  background-color: #997af0;
  color: white;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #4e0eff;
}

span {
  color: white;
  text-transform: uppercase;
}

span a {
  color: #4e0eff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.5rem;
}